* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #2d3150, #1c1b34);
}
img {
  max-width: 100%;
  width: 10vw;
  cursor: pointer;
}
/*  */
.btn:hover > .icon {
  transform: scale(1.5);
}

.btn:hover > .icon path {
  fill: rgb(168, 7, 7);
}

.btn:hover::after {
  visibility: visible;
  opacity: 1;
  top: -160%;
}
